@use '../../styles/breakpoints.scss' as breakpoint;

.button {
	display: inline-flex;
	justify-content: center;
	border: 0;
	border-radius: 6px;
	cursor: pointer;
	font: inherit;
	font-weight: 500;
	margin-block-start: 24px;
	padding: 10px 18px;
	max-width: 240px;
	min-width: 180px;

	@include breakpoint.mobile {
		margin-inline: auto;
		margin-block-start: 12px;
  	}
}

.button--primary {
	text-decoration: none;background: var(--color-primary);
	color: white;
}

.button--secondary {
	background: var(--accent-bg);
	color: var(--accent);
}

.button:hover {
	opacity: 0.85;
}