@use './variables' as *;
@use './breakpoints' as breakpoint;

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding-inline: 32px;
	width: 100%;
	box-sizing: border-box;

	@include breakpoint.mobile {
    	padding-inline: 24px;
  	}
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-h);
  line-height: normal;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin-block: 32px;
  @include breakpoint.mobile {
    font-size: 30px;
    margin-block: 20px;
  }
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @include breakpoint.mobile {
    font-size: 20px;
  }
}

p {
  margin: 0;
}