@use '../../styles/variables' as *;
@use '../../styles/breakpoints.scss' as breakpoint;

.header-layout {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid var(--border);
	padding-block: 20px;
	padding-inline: 32px;

	@include breakpoint.mobile {
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 16px;
		padding-block: 12px;
		padding-inline: 16px;
  	}
}

.header-brand {
	color: var(--text-h);
	font-weight: 700;
	text-decoration: none;
}

nav {
	display: flex;
	gap: 20px;
}

nav a {
	color: var(--text);
	text-decoration: none;
}

nav a:hover,
nav a.active {

	color: var(--accent);
}

.content-layout {
	padding-block: 48px;

	@include breakpoint.mobile {
    	padding-block: 24px;
  	}
}

.reservation-layout {
	display: flex;
	flex-direction: row;
	
	@include breakpoint.mobile {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 16px;
  	}
}
