@use './styles/breakpoints' as breakpoint;

.reservation-form {
  display: grid;
  gap: 16px;
  max-width: 420px;

  @include breakpoint.mobile {
		padding-block-start: 12px;

  }
}

.reservation-left-panel,
.reservation-right-panel {
  width: 100%;
}

.reservation-layout {
  display: grid;
  gap: 32px;
  grid-template-columns: minmax(280px, 420px) minmax(0, 1fr);

  @include breakpoint.mobile {
    grid-template-columns: 1fr;
  }
}